# visual studio
x64/*
Debug/*
accel-crypto.vcxproj
accel-crypto.vcxproj.filters
accel-crypto.vcxproj.user

_tmain.cpp
main.cpp

# clion
.idea/*
cmake-build-debug/*
cmake-build-release/*
CMakeLists.txt
